.btn-hamburger {
    color: white;
    border: none;
    outline: none;
    background: transparent;
    padding: 0;
    position: absolute;
    left: .5em;
    font-size: 2em;
}

.panel {
    height: 100%;
    min-height: 100vh;
    font-size: 100%;
    font-family: 'Roboto', sans-serif;
    color: rgba(0, 0, 0, 0.77);
    background-color: #e9f0f5;
}

.menu {
    background-color: #1D1F20;
    font: 100%/1.4em 'Calibre Light', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.menu a {
    color: #fff;
}

.menu a:hover {
    text-decoration: underline;
}

.menu-header {
    border-bottom: 1px solid #2a2d2f;
    padding: 20px;
    background-size: 32px;
}

.menu-header-title {
    font-weight: 400;
    letter-spacing: 0.5px;
    margin: 0;
}

.menu-section {
    margin: 25px 0;
}

.menu-section-title {
    text-transform: uppercase;
    color: #85888d;
    font-weight: 200;
    font-size: 15px;
    letter-spacing: 1px;
    padding: 0 20px;
    margin: 0;
}

.menu-section-list {
    padding: 0;
    margin: 10px 0;
    list-style: none;
}

.menu-section-list a {
    display: block;
    padding: 10px 20px;
}

.menu-section-list li:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

.menu-section-list a:hover {
    text-decoration: none;
}

.menu-section-list .social {
    display: inline-block;
    width: 100%;
}

.menu-section-list .social .login {
    float: left;
    width: 100px;
}

.menu-section-list .social .logout {
    display: none;
    float: right;
    padding: .2em 1em;
    background: #646464;
    border-radius: 0.25em;
    margin: 0.4em 0.6em;
    color: white;
}

.slideout-menu {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    z-index: 0;
    width: 240px;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    display: none;
}

.slideout-panel {
    position: relative;
    z-index: 1;
}

.slideout-open,
.slideout-open body,
.slideout-open .slideout-panel {
    overflow: hidden;
}

.slideout-open .slideout-menu {
    display: block;
}

@media only screen and (min-width: 1170px) {
    /* don't use slide out panel on wide screens */
    .slideout-panel {
        margin-left: 240px;
    }
    .slideout-menu {
        display: block;
    }
    .btn-hamburger {
        display: none;
    }
    .panel {
        overflow-x: hidden;
    }
}